
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategray;
}

.mainPage {
    background-color: lightgray;
    margin: auto;
    width: 80%;
}

.heading {
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: fantasy;
    font-size: 22pt;
    margin: auto;
    color: darkslateblue;
    text-transform: uppercase;
}

h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: darkslategrey;
}

em {
    color: red;
}

.customerName, .ticketBox, .screenChoiceBox, .refreshments, .submitBox {
    padding: 20px 0px 10px 20px;
}

.formInstructions {
    padding-top: 20px;
    padding-left: 20px;;
}

input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

select {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

label {
    font-size: 10pt;
    color: darkslategrey;
}

input[type=text] {
    width: 300px;
    margin-left: 10px;
    color: darkslategrey;
    border: none;
}

input[type=number] {
    width: 30px;
    margin-right: 10px;
    color: darkslategrey;
    border: none;
}

input[type=radio] {
    margin: 10px 2px 25px 10px;
    padding: 0px;;
}

#submitButton {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
}

#submitButton:hover {
    background-color: dimgray;
}